<div class="">

    <app-navba></app-navba>
    <div>


        <ul class=" d-flex justify-content-space-between align-items-center" style="list-style-type: none;">

            <!-- list the buttons    -->

            <li> 
            <button (click)="openCourse()"  class="btn btn-primary">Nuevo Curso</button>
            
            </li>
            <!-- <li><a routerLink="/admin/usuarios">Docente</a></li> -->
            <!-- <li><a routerLink="/admin/roles">Roles</a></li> -->
            <!-- <li><a routerLink="/admin/permisos">Permisos</a></li>
            <li><a routerLink="/admin/permisos-roles">Permisos Roles</a></li>
            <li><a routerLink="/admin/usuarios-roles">Usuarios Roles</a></li> -->
        </ul>
    </div>

    <app-list-course></app-list-course>

</div>
