/*
    Archivo para definir los colores principales de la aplicacion
*/
$color-primary: #F5F0BB;
$color-secondary: #B3C890;
$color-contrast: #DBDFAA;
$color-default: #FFFFFF;
$color-resaltado: #73A9AD;

$color-sidebar: #11101d;
// $color-sidebar: $color-primary;

$subtitle-weight: 400;

$color-title: #73A9AD;