<!-- create a list with weeks -->

<div class="col-12 mt-3">


<ul class="d-flex list-unstyled">

    <li *ngFor="let week of weeks; index as i" class="me-2">

        <a class="btn btn-danger" role="button" (click)="changeNumberWeek(i)"> <i class="fa-solid fa-calendar-week"></i>
            {{week.title}}
            {{week.numberWeek}}</a>
    </li>
    <li>

        <a class="btn btn-primary" role="button" (click)="openModalWeeks()"><i class="fa-sharp fa-solid fa-plus"></i>
        </a>
    </li>

    <li>

        <a class="btn btn-success" role="button"><i class="fa-sharp fa-solid fa-plus"></i> </a>
    </li>
</ul>
</div>