<div class="">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let item of courses" >
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}} {{item.parallel}} </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <button  class="btn btn-primary"  (click)="viewCourse(item.uid || '')" >Ver Planificaciones</button>
            <p>{{item.tutor}} </p>
          </div>
        </div>
      </div>

 
      <!-- More cards here -->
    </div>

    <!-- {{courses | json}} -->
  </div>
  
