<div class="container-fluid bg-image">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Iniciar sesión</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email" formControlName="email">

              <div *ngIf="
              formGroup.controls['email'].invalid &&
              (formGroup.controls['email'].dirty ||
              formGroup.controls['email'].touched)
            " class="form-text text-danger">
                <div *ngFor="let validation of mensajesValidacion.correo">
                  <div style="font-size: smaller !important" *ngIf="
            formGroup.get('email')?.hasError(validation.type) &&
                  (formGroup.get('email')?.dirty ||
                  formGroup.get('email')?.touched)
                ">
                    {{ validation.message }}
                  </div>
                </div>
              </div>

            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" formControlName="password">
              <div *ngIf="
    formGroup.controls['password'].invalid &&
    (formGroup.controls['password'].dirty ||
    formGroup.controls['password'].touched)
  " class="form-text text-danger">
                <div *ngFor="let validation of mensajesValidacion.password">
                  <div style="font-size: smaller !important" *ngIf="
  formGroup.get('password')?.hasError(validation.type) &&
        (formGroup.get('password')?.dirty ||
        formGroup.get('password')?.touched)
      ">
                    {{ validation.message }}
                  </div>
                </div>
              </div>

            </div>
            <div class="d-grid gap-2 mb-3">
              <button type="submit" class="btn btn-primary"  [disabled]="formGroup.invalid" >Ingresar</button>
            </div>
            <div class="text-center">
              <span   role="button"  (click)="resetPassword()"  style="text-decoration: underline">¿Olvidaste tu contraseña?</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>