<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">open</button> -->

<app-detail-planification class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
    aria-labelledby="offcanvasTopLabel"></app-detail-planification>


<div class="mt-3">
    <div class="row">
        <app-header [courseFullModel]="courseFullModel"></app-header>

        <app-list-week *ngIf="courseFullModel" [weeks]="courseFullModel.weeks" (openModal)="openModalWeeks($event)"
            (weekSelected)="changeNumberWeek($event)"></app-list-week>

        <!-- column left -->
        <app-details-teacher [courseFullModel]="courseFullModel" class="col-6"></app-details-teacher>

        <!-- <app-list-planification  [courseFullModel]="courseFullModel" class="col-6"></app-list-planification> -->

        <!-- column right -->

        <div class="col-6">

            <div class="d-flex align-items-center p-2">

                <span style="font-size: 1.8rem;" class="me-3"> <i class="fa-solid fa-arrow-left"></i></span>

                <div class="flex-grow-1 d-flex justify-content-between  align-items-start">
                    <div class="flex-grow-1">
                        <h4>Detalles Trimestre</h4>
                        <!-- <p>{{courseFullModel.weeks[indexWeekCurrent].details}}</p> -->
                    </div>
                    <button class="btn btn-success"  (click)="openModalPlanification()">+</button>

                </div>

            </div>

            <div class="mt-3  d-flex align-items-center bg-secondary p-2">

                <!-- <span class="me-3"><i class="fa-solid fa-users" style="font-size: 2rem;"></i></span> -->
                <span class="me-3"> <i class="fa-solid fa-list" style="font-size: 1.3rem;"></i> </span>

                <div class="flex-grow-1 d-flex justify-content-between  align-items-center">
                    <div>
                        <h4>Planificaciones</h4>
                        <p>Planificaciones durante el trimestre</p>
                    </div>


                    <ng-template #sinRegistro>
                        <div>
                            <span style="font-size: 2rem;">0</span><br>
                            <span>total</span>
                        </div>
                    </ng-template>

                    <div *ngIf="planificationExistByCurrentWeek; else sinRegistro">
                        <span style="font-size: 2rem;">
                            {{courseFullModel.weeks[indexWeekCurrent].planifications.length}}</span><br>
                        <span>total</span>
                    </div>
                </div>
            </div>


            <ng-template #sinPlanificaciones>
                <!-- <div class="alert alert-info"> -->

                    <!-- <h4></h4> -->
                    <p class="alert alert-info"> <b>No hay planificaciones</b></p>
                <!-- </div> -->  
            </ng-template>

            <div class="mt-3 bg-secondary p-2" *ngIf="planificationExistByCurrentWeek;  else sinPlanificaciones">

                <div *ngFor=" let plani of  courseFullModel.weeks[indexWeekCurrent].planifications; index as i"
                    class="d-flex justify-content-between align-items-center">
                    <span class="me-3"> <i class="fa-solid fa-list" style="font-size: 1.3rem;"></i> </span>

                    <div class="flex-grow-1">

                        <h4 class="title-plani"> 
                            <span  *ngIf="!isAdmin">{{plani.title}}</span>
                            <span (click)="edit(plani)"*ngIf="isAdmin"  class="title-plani__edit">{{plani.title}}</span>
                        </h4>
                        <p class="my-1"> <i class="fa-solid fa-calendar"></i> {{plani.dateCreated}} </p>

                        <p *ngIf="!isAdmin && teacherAlreadyUploadPlanification(plani.uid)"
                            (click)="deleteOrDownloadPlanification(plani.uid, 'DOWNLOAD')" class="my-1"
                            style="text-decoration: underline; cursor: pointer;">
                            <i class="fa-solid fa-file-arrow-down"></i> Descargar
                        </p>


                        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"
                            role="button" (click)="viewDetailsPlanification(i)">Ver Detalles</a>

                    </div>

                    <button *ngIf="isAdmin" class="btn btn-success"
                        (click)="reviewPlanification(plani.uid)">Revisar</button>
                    <!-- <button class="btn btn-success" (click)="uploadFilePlanification(i)">Subir</button> -->


                    <a *ngIf="!isAdmin && !teacherAlreadyUploadPlanification(plani.uid)" class="btn btn-primary"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"
                        role="button" (click)="uploadFilePlanification(i)">Subir</a>

                    <a *ngIf="!isAdmin && teacherAlreadyUploadPlanification(plani.uid)" class="btn btn-danger"
                        role="button" (click)="deleteOrDownloadPlanification(plani.uid, 'DELETE')">ELIMINAR</a>
                </div>


            </div>


        </div>

    </div>


    <!-- {{courseFullModel | json}} -->
</div>