
<!-- <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"> -->
<div style="max-width: 350px; min-width: 350px;" class="m-auto card">
  <div class="offcanvas-header card-header">
    <h5 id="offcanvasTopLabel">Detalles  Planificación</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body card-body" *ngIf="planification">

        <h4>Detalles</h4>
        <p *ngIf="planification.details"> {{planification.details}} </p>
        <p *ngIf="!planification.details"> Esta planificación no tiene detalles</p>
        
        <h4>Recursos</h4>
        <div >
            <p *ngIf="!planification.resource">No tiens recursos</p>

            <p *ngFor="let item of planification.resource; index as i">
                {{item | json}}
                <span><i class="fa-solid fa-file-pdf"></i>
                    <a  href="{{item}}" target="_blank" >Documento {{i+1}}</a>
                </span>
            </p>
        </div>

        <!-- {{planification | json}} -->

    <div class="text-end">
        <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas" aria-label="">Aceptar</button>


    </div>
  </div>
</div>
